{% extends "gonet/base.html" %}
{% load static %}

{% block title %}GOnet running{% endblock %}

{% block head_block %}
    <!-- <meta http-equiv="refresh" content="5"> -->
    <script>var statusURL = "{{ status_url }}"</script>
    <script src="{% static "JavaScript/bundles/GOnet_wait_page.bundle.js" %}"></script>
{% endblock %}

{% block page_header %}
    <div class="py-4">
        <h2>Your job is being computed</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid my-4">
        <p>You can wait on this page or check status of your job later by visiting this link</p>
        <p id="progress-url"></p>
    </div>
    <div class="container-fluid my-4">
        <span id="loading-badge" class="badge badge-warning" style="display:none;">Loading</span>
    </div>
{% endblock %}
