{% extends "gonet/dice_header.html" %}

{% block content %}
    <div class="container-fluid my-4">
        <h2>Errors encountered while parsing the data</h2>
        <p class="my-3">None of the genes submitted (listed below) was identified in the database. Probably check if the separator specified is ok and if right organism (human or mouse) is indicated.</p>
        <div class="w-25 px-4" id="input-example">
            {% for gene in genes %}
                <p class="my-0">{{ gene }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
